#carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
    position: relative;
    z-index: 1;
  }
  
  #carousel img {
    width: 700px;
    height: auto;
    margin-top: 200px;
    transition: opacity 0.5s ease-in-out;
  }
  
  #slogan {
    font-size: 4.8em;
    text-align: center;
    margin: 100px;
    position: relative;
    opacity: 0;
    transform: scale(0.8); /* Démarre plus petit */
    animation: fadeInScale 2.5s ease-out forwards; /* Animation sur 2.5 secondes */
  }
  
  /* Animation avec scaling et fondu */
  @keyframes fadeInScale {
    0% {
      opacity: 0;
      transform: scale(0.8); /* Plus petit au départ */
    }
    50% {
      opacity: 0.5;
      transform: scale(1.1); /* Légère mise en valeur à mi-chemin */
    }
    100% {
      opacity: 1;
      transform: scale(1); /* Taille normale à la fin */
    }
  }
  
  
